<div class="banner">
  <div class="jumbotron">
    <div class="text-content">
      <h1 class="title">Job Listing, 更专业的互联网招聘平台</h1>
      <p class="slogan">
        我们希望借助这个网站，能让大家获得优质的Offer
      </p>
      <p class="lead"><a class="btn btn-lg b-btn" href="/jobs">投个简历</a></p>
    </div>
  </div>
</div>

<section class="odd">
  <div class="section-content">
    <h2 class="section-title">我们可以帮你高效地找工作</h2>

    <div class="col-3 clearfix advantage">
      <div class="row">
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://oggx6lf7f.bkt.clouddn.com/hlkro.png">
            <br>
            <h3 class="advantage-title">实时简历状态通知</h3>
            <p>一旦简历的状态更新，我们将第一时间通知您，让简历不再鸟无音讯。</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://oggx6lf7f.bkt.clouddn.com/559z1.png">
            <br>
            <h3 class="advantage-title">优质的offer</h3>
            <p>大量优质的职位等着你来挑战，好的人才绝对能够遇见好的机会。</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://oggx6lf7f.bkt.clouddn.com/ghq5d.png">
            <br>
            <h3 class="advantage-title">专注于互联网招聘</h3>
            <p>包含当前互联网所有热门的职业</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hot-jobs-category">
  <div class="section-content">
    <h2 class="section-title">正在火热招聘的职业</h2>
    <ul class="hjc-ul">
      <li>
        <a href="/jobs/search?utf8=✓&q=程序员">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/k2fgi.jpg" alt="">
          </div>
          <div class="title">程序员</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=产品经理">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/47wo9.png" alt="">
          </div>
          <div class="title">产品经理</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=设计师">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/nldnj.jpg" alt="">
          </div>
          <div class="title">设计师</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=运营">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/f0bir.jpg" alt="">
          </div>
          <div class="title">运营</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=市场与销售">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ar5mv.jpg" alt="">
          </div>
          <div class="title">市场与销售</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=职能">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/ddcog.jpg" alt="">
          </div>
          <div class="title">职能</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=金融">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="http://oggx6lf7f.bkt.clouddn.com/kgdxv.jpg" alt="">
          </div>
          <div class="title">金融</div>
        </a>
      </li>
      <li>
        <a href="/jobs" class="more">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://cdn.worktile.com/images/index/project-0.png" alt="">
          </div>
          <div class="title">查看所有职位</div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="odd">
  <div class="section-content other">
    <h2 class="section-title">听听他们怎么说</h2>
    <div class="col-3 home-people clearfix">
      <div class="row">
        <div class="col-sm-4">
          <div class="item person fl">
            <div class="avata-wrapper">
              <img class="avata" src="http://img.mukewang.com/5649356b0001670502000200-80-80.jpg">
            </div>
            <div class="intro clearfix">
              <div class="name">
                YJ（面试者）
              </div>
            </div>
            <div class="words">
              <span class="bg"></span>
              <span class="fa fa-quote-left quote quote-l iconfont"></span>
              <span class="fa fa-quote-right quote quote-r iconfont"></span>
              <div class="content">简历投出去常常石沉大海，一点消息都没有，而在NewJob，能随时知道简历的动态，提高面试的机会，真是不错啊!</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item person fl">
            <div class="avata-wrapper">
              <img class="avata" src="http://oggx6lf7f.bkt.clouddn.com/d8xuf.jpeg">
            </div>
            <div class="intro clearfix">
              <div class="name">
                Raimon（面试者）
              </div>
            </div>
            <div class="words">
              <span class="bg"></span>
              <span class="fa fa-quote-left quote quote-l iconfont"></span>
              <span class="fa fa-quote-right quote quote-r iconfont"></span>
              <div class="content">高效筛选合适自己的工作，集中火力去面试，感谢NewJob平台让我找到了如今这份好工作！</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item person fl">
            <div class="avata-wrapper">
              <img class="avata" src="http://oggx6lf7f.bkt.clouddn.com/qt1l7.jpg">
            </div>
            <div class="intro clearfix">
              <div class="name">
                李磊（招聘者）
              </div>
            </div>
            <div class="words">
              <span class="bg"></span>
              <span class="fa fa-quote-left quote quote-l iconfont"></span>
              <span class="fa fa-quote-right quote quote-r iconfont"></span>
              <div class="content">在这里招募了很多优秀的人才，质量很高，更多的人才连接，对公司的发展有非常大的帮助！</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="sidebar" class="sidebar">
  <ul>
    <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    <li class="support">
      <i class="fa fa-thumbs-o-up"></i>
      <div class="ewm">
        <p>
          觉得不错嘛？<br>
          来，动动小手<br>
          <a href="https://fullstack.xinshengdaxue.com/works/21" target="_blank">帮我投个票</a><br>
          谢谢^_^
        </p>
      </div>
    </li>
  </ul>
</div>
