/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise
 */


// $nav-color-gray: #A6A6A6;
// $nav-color-white: #fff;
// $nav-color-black: #A6A6A6;
// $nav-background-black: #323436;
// $nav-a-hover: #353637;
$banner-color: #fff;
$btn-color: #fff;
$btn-background: #49BCB5;
$btn-background-hover: #00DBE9;
$banner: url(https://static.pexels.com/photos/6471/woman-hand-smartphone-desk.jpg);
//
//
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 //html
 html {
   position: relative;
   min-height: 100%;
 }

 // body
body {
  font-family: Hiragino Sans GB,Lantinghei SC,Open Sans,Arial,Microsoft YaHei,sans-serif;
  margin-bottom: 100px;
  padding-top: 65px;
}

.body1 {
  margin-top: 80px;
  margin-bottom: 100px;
}
// .body2 {
//   font-family: Hiragino Sans GB,Lantinghei SC,Open Sans,Arial,Microsoft YaHei,sans-serif;
//   padding-top: 0px;
//   margin-bottom: 100px;
// }

.container-fluid {
  .about {
    padding: 60px 50px;
    text-align:center;
    letter-spacing: 1px;
       .logo {
        color: #146eb4;
        display: inline !important;
        font-size: 200px;
        min-width: 260px;
        // position: absolute;
      }

      h2 {
            color: #000000;
            font-size: 34px;
            font-weight: 500;
        }
        p {
            color: #000000;
            line-height: 34px;
            padding: 0 7px;
        }
      @media screen and (min-width: 400px) {
        .col-sm-8  {
            text-align: center;
        //     margin: 25px 0;
        }
      }
  }
}
//
//
.table {
  border: 1px solid #e0e6ed;
  thead > tr > th {
    background: #eff2f7;
    border-bottom: 1px solid #e0e6ed;
  }
  &.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }
  td, th {
    // border-right: 1px solid #ddd;
  }
  .btn {
    &.btn-info {
      background: #F0AD4E;
      border-color: #F0AD4E;
    }
    &.btn-warning {
      background: #62A8EA;
      border-color: #62A8EA;
    }
    &.btn-danger {
      background: #F96868;
      border-color: #F96868;
    }
  }
}

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

// 工作列表
.job-box{
  border: 1.5px solid #146eb4;
  box-shadow: 1px 1px 5px #ccc;
  margin-top: 12.5px;
  padding: 15px 1px 1px 1px;
  background-color: #fff;
  // color: #555;
  font-size: 16px;
  // font-family: Hiragino Sans GB,Lantinghei SC,Open Sans,Arial,Microsoft YaHei,sans-serif;

  div{
    margin-bottom: 5px;
  }

  .info{
      display: inline;
      float: left;
      min-width: 65%;
  }

  .info-top{
    h3{
      display: inline;
      font-size: 20px;
    }
    span{
      margin-left: 10px;
      display: inline;
      color: #888;
      font-size: 12px;
    }
  }

  .info-mid{
    color: #146eb4;
    letter-spacing: -1px;
  }

  .info-bot{
      padding: 5px 7.5px 5px 7.5px;
      font-size: 12px;
  }

  .company{
    float: left;
    display: inline;
    max-width: 35%;

    span{
      width: 20px;
      margin-left: 5px;
    }
  }

  .company-top{
    // color: #146eb4;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: -5px;
  }

  .company-bot{
    margin-left: 3.5px;
    letter-spacing: 1px;
  }
}
  .side-box{
    display: inline;
    position: absolute;
    margin-top: 115px;
    margin-left: 35px;
    padding-bottom: 12.5px;
    min-width: 260px;
    background-color: #fff;
    color: #555;
    // border: 1.5px solid #146eb4;
  .suggest-content{
    background-color: #fff;
    padding: 7.5px;
    border: 0.5px solid #146eb4;
    h3{
      margin-top: 1px;
      font-size: 16px;
    }

    p{
      font-size: 16px;
      color: #146eb4;
      letter-spacing: -1px;
    }

    span{
      color: #aaa;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}
// 工作show页面
.show {
  width: 100%;
  background-color: #ebf0ef;
  .show_title {
    min-width: 1024px;
    width: 100%;
    padding: 30px 0 11px;
    // margin: 0 auto 20px;
  }
  .apply_status {
    float: left;
    position: relative;
    height: 50px;
    line-height: 50px;
    .label {
      background-color: #146eb4;
      size: 100px;
      margin: 400px 10px;
    }
  }
}
// section-title
#services {
  text-align: center;
}
section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 85px;
  &.odd {
    background: #F2F2F5;
  }
.section-title {
  text-align: center;
  font-size: 34px;
  color: #000000;
  line-height: 34px;
  font-weight: 500;
}
.advantage-img {
  color: #146eb4;
  font-size: 70px;
}
}
//common
.short-line {
    display: block;
    background: #146eb4;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 53;
    width: 100px;
    height: 1.5px;
    font-weight: 700;
    position: left;
}

// navbar
.navbar {
  border: none;
  letter-spacing: 4px;
}
.navbar-default {
  width: 101%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 10px;
  margin: 0 150px 0 -15px;
  transition: background-color .6s;
  &.black {
    color: #000000;
    background-color: #fff;
    border-bottom: 1px solid #e0dfdf;
    // border-bottom: 1px solid #f2f2f5;
    .navbar-nav li a:hover, .navbar-nav li.active a{
    color: #fff !important;
    background-color: #146eb4 !important;
}
    .navbar-nav > li > i{
      display: inline-block; //图片和链接文字显示在同一行
      width: 32px; //定制图片宽度
      height: 32px; //定制图片高度
    }
    .navbar-brand {
      color: #146eb4;
      font-weight: 700;
    }
  }
  &.transparent {
    color: #fff;
    background: linear-gradient(#333,transparent);//背景颜色
    border-bottom: 0;

  .navbar-brand {
    color: #146eb4;
    padding: 10px 15px;//上下10px,左右15px
    line-height: 30px;//文字行高
    font-weight: 700;
    &:hover {
      color: #fff;
    }
  }
  .navbar-right {
    // margin-top: 10px;
  }
  .navbar-nav > li > a{
    // width: 80px;
    // border-radius: 40px;
    // padding-top: 6px;
    // padding-bottom: 6px;
    // text-align: center;
    // margin-right: 15px;
    color: #fff;
    // border: 1px solid rgb(221, 221, 221);
    transition: 0.15s linear;
  }
  .navbar-nav li a:hover{
    color: #146eb4;
    border-color: #146eb4;
  }
 }
}
@media (max-width: 768px) {
  .navbar {
    border-radius: 0;//圆角为0
  }
}

// hotjobs
.hot-jobs-category {
  position: relative;
  .section-title {
    margin-top: 80px;
    .short-line {
    margin-bottom: 50px;
    }
   }
    .hjc-ul {
      margin: 5px auto 0;
      overflow: hidden;
      padding: 0 20px 0;
      text-align: center;
      // height: auto;
      width: 100%;
      .thumbnail {
          padding: 0 0 15px 0;
          width: 100%;
          height: auto;
          margin-left: 10px;
          margin-right: 10px;
          border: none;
          border-radius: 0;
          position: relative;
          overflow: hidden;
          max-width: 250px;
           img {
             width: 100%;
             height: auto;
           }
           .title {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              background: #146eb4;
              font-size: 16px;
              padding: 6px 25px;
              color: #fff;
              transition: opacity .4s ease-in-out;
            }
            &:hover {
               transform: scale(1.2);
               -webkit-transform: scale(1.2);
               -webkit-transition: all .8s;
               transition: all .8s;
               border: 1px solid #146eb4;
             }
        }
      }
        .hjc-ul1 {
          margin: 50px auto 5px auto;
          overflow: hidden;
          padding: 0 20px 0;
          text-align: center;
          // height: auto;
          width: 100%;
          .thumbnail {
              padding: 0 0 15px 0;
              width: 100%;
              height: auto;
              margin-left: 10px;
              margin-right: 10px;
              border: none;
              border-radius: 0;
              position: relative;
              overflow: hidden;
              max-width: 250px;
               img {
                 width: 100%;
                 height: auto;
               }
               .title {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  background: #146eb4;
                  font-size: 16px;
                  padding: 6px 25px;
                  color: #fff;
                  transition: opacity .4s ease-in-out;
                }
                &:hover {
                   transform: scale(1.2);
                   -webkit-transform: scale(1.2);
                   -webkit-transition: all .8s;
                   transition: all .8s;
                   border: 1px solid #146eb4;
                 }
            }
    }
    // @media (max-width: 768px) {
    //   .hot-jobs-category {
    //     width: 80%
    //   }
    // }
}


// home-people
#userstory {
  text-align: center;
}
.home-people {
  position: relative;
  .person {
    display: inline-block;
    margin-top: 20px;
    top: 0;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    &:hover {
      position: relative;
      top: -5px;
    }
    .avata-wrapper {
      position: absolute;
      width: 96px;
      height: 96px;
      padding: 5px;
      left: 50%;
      top: 10px;
      margin-left: -53px;
      border: dotted 1px #E6EDEF;
      border-radius: 53px;
      overflow: hidden;
    }
    .avata {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .intro {
      margin-top: 108px;
      .name {
        text-align: center;
      }
      .invest {
        float: right;
        margin-right: 20px;
        font-size: 14px;
        line-height: 28px;
        color: #fff;
        font-weight: bold;
      }
    }
    .words {
      position: relative;
      margin-top: 10px;
      padding: 41px 20px 20px 25px;
      border-radius: 3px;
      color: #fff;
      line-height: 25px;
      text-align: left;
      font-weight: bold;
      overflow: hidden;
      border: 1px solid #146eb4;
      .bg {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.7;
        z-index: 0;
      }
      .quote {
        position: absolute;
        color: #aaa;
        font-size: 16px;
      }
      .quote-l {
        top: 10px;
        left: 5px;
      }
      .quote-r {
        bottom: 10px;
        right: 5px;
      }
      .content {
        position: relative;
        height: 75px;
        overflow: hidden;
        font-size: 13px;
        z-index: 0;
        color: #333;
      }
    }
  }
}

//bottom
#bottom {
  background-image:url("https://static.pexels.com/photos/64778/pexels-photo-64778.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-content {
  text-align: center;
  padding: 50px 0;
  h2 {
    margin-bottom: 30px;
    color: #fff;
  }

}
.bottom-content >a.btn-default {
    background-color: #146eb4;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #146eb4;
    }
  }


// // footer
// .footer-nav {
//   background: #201f21;
//   padding: 35px 0 20px 0;
//   .columns {
//     max-width: 980px;
//     margin: 0 auto;
//     .column {
//       width: 70px;
//       line-height: 200%;
//       margin: 0 0 10px 25px;
//     }
//     .colum-right {
//       float: right;
//       width: 200px;
//       li {
//         padding: 0;
//         display: block;
//         white-space: nowrap;
//       }
//       .icon-gamepad {
//         display: inline-block;
//         height: 50px;
//         font-size: 0;
//         margin-right: 50px;
//       }
//       h3 {
//         color: #ffffff;
//         opacity: .5;
//         margin-top: 0;
//         font-size: 24px;
//       }
//
//       h4 {
//         .fa {
//           font-size: 18px;
//           margin-right: 10px;
//         }
//       }
//       .a-icon {
//         display: inline-block;
//         width: 28px;
//         height: 28px;
//         border: 1px #92a0a9 solid;
//         border-radius: 40px;
//         text-align: center;
//         font-size: 14px;
//         box-sizing: border-box;
//         padding-top: 0;
//         margin-right: 10px;
//         cursor: pointer;
//         vertical-align: middle;
//         margin-top: 10px;
//         .fa {
//           display: block;
//           margin-top: 6px;
//           color: #92a0a9;
//         }
//       }
//       .a-weixin {
//         position: relative;
//         display: inline-block;
//       }
//     }
//     li {
//       h2 {
//         font-size: 16px;
//         color: #fff;
//         font-weight: 700;
//         margin-bottom: 22px;
//         opacity: .5;
//       }
//       a {
//         color: #fff;
//         opacity: .5;
//         white-space: nowrap;
//         line-height: 36px;
//       }
//     }
//   }
// }
//
.footer {
  position: absolute;
  bottom: 0;
  width: 102%;
  background: #333333;
  padding: 16px 10px 6px;
  text-align: center;
  font-size: 12px;
  height: 100px;
  color: #C2C2C2;
  margin-left: -15px;
  margin-right: -15px;
  span {
    display: inline-block;
    margin-right: 10px;
    height: 24px;
    line-height: 23px;
  }
}

.wrapper-container {
  min-height: 653px;
  // padding-top: 120px;
  padding-top: 75px;
  padding-bottom: 80px;
  .container {
    padding-top: 40px;
  }
  .login-wrap {
    height: 695px;
    width: 100%;
    .image-content {
      height: 853px;
    }
    img {
      width: 100%;
      height: 853px;
      size: cover;
      display: block;
      position: relative;
      z-index: 2;
    }
  }
}

.wrapper-container {
  min-height: 653px;
  // padding-top: 120px;
  padding-top: 75px;
  padding-bottom: 80px;
  .container {
    padding-top: 40px;
  }
  .signin-wrap {
    height: 625px;
    width: 100%;
    .image-content {
      height: 853px;
    }
    img {
      width: 100%;
      height: 853px;
      size: cover;
      display: block;
      position: relative;
      z-index: 2;
    }
  }
}

.sidebar {
  display: none;
  position: fixed;
  z-index: 998;
  left: 30px;
  bottom: 30px;
  width: 40px;
  height: auto;
  line-height: 20px;
  * {
    box-sizing: border-box;
  }
  ul {
    padding: 0;
  }
  li {
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    background: #fbfbfb;
    line-height: 42px;
    &:hover {
      background: #eee;
    }
    &:first-child {
      margin-top: 0;
    }
    &.backtop i {
      font-size: 18px;
    }
    &.support {
      i {
        font-size: 20px;
      }
      .ewm {
        line-height: 22px;
        display: none;
        right: 0px;
        opacity: 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        display: none;
        right: 0;
        top: 50%;
        margin-top: -68px;
        width: 136px;
        height: 136px;
        padding-right: 20px;
        p {
          background: #eee;
          border-radius: 3px;
          padding: 12px;
        }
      }
    }
    i {
      color: #555;
    }
  }
}

// button
.b-btn {
  width: 220px;
  color: $btn-color;//字体颜色
  background-color: $btn-background;//背景颜色
  border-color: $btn-background;//边框颜色
}

.b-btn:focus,
.b-btn:hover {
  color: #fff;
  background-color: $btn-background-hover;//鼠标放置在btn上的背景颜色
  border-color: $btn-background-hover;//鼠标放置在btn上的边框颜色
}

.btn-lg, .btn-group-lg > .btn {
  padding: 8px 16px;//通过padding来决定btn的大小
  font-size: 16px;//btn文字大小
  border-radius: 3px;//btn圆角
  margin-bottom: 10px;
}

.search-wrap, .content {
  margin-top: -20px;
}

.btn-success {
  background: $btn-background;
  color: #fff;
  &:hover, &:active {
    background: $btn-background-hover !important;
    border-color: $btn-background-hover !important;
  }
}

// label
.label {
  font-size: 12px;
}
.label-success {
  background: $btn-background;
}
.label-default {
  background: #999999;
}

// admin
.admin-panel {
  position: relative;
  margin-left: 100px;
  width: 1040px;
  min-height: 500px;
  .group {
    padding-bottom: 10px;
  }
}

.form-box {
  padding-bottom: 40px;
}

.radio.inline {
  display: inline;
  margin-right: 20px;
}

.empty-message {
  text-align: center;
  line-height: 400px;
}

.jobs-container {
  padding-top: 40px;
}

.job_wage_lower_bound {
  input {
    width: 50px;
    text-align: center;
  }
}
.btn-danger {
     color: #fff;//字体颜色

     background-color: #EF6C00;//背景颜色

     border-color: #EF6C00;//边框颜色

 }

 .btn-danger:hover {
     background-color: #E65100;//鼠标放置在btn上的背景颜色

     border-color: #E65100;//鼠标放置在btn上的边框颜色

 }
