/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$nav-color-gray: #A6A6A6;
$nav-color-white: #fff;
$nav-color-black: #A6A6A6;
$nav-background-black: #323436;
$nav-a-hover: #353637;
$banner-color: #fff;
$btn-color: #fff;
$btn-background: #49BCB5;
$btn-background-hover: #00DBE9;
$banner: url(http://oggx6lf7f.bkt.clouddn.com/fw4i5.jpg);


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 // body
 body {
    margin-buttom: 150px;
    padding-top: 65px;
  }


 // navbar
 .navbar {
   border: none;
 }
 .navbar-default {
   width: 100%;
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   margin-bottom: 0;//底部 margin 不撑开距离
   transition: background-color .6s;
   &.black {
     color: $nav-color-gray;
     background-color: $nav-background-black;
     // border-bottom: 1px solid #f2f2f5;
     .navbar-nav > li > a{
       color: $nav-color-gray;
       // border: 1px solid #ddd;
     }
     .navbar-brand {
       color: $nav-color-white;
     }
   }
   &.transparent {
     color: $nav-color-white;
     background: linear-gradient(#333,transparent);//背景颜色
     border-bottom: 0;
   }
   .navbar-brand {
     padding: 10px 15px;//上下10px,左右15px
     line-height: 30px;//文字行高
     color: $nav-color-white;
     &:hover {
       color: $nav-color-white;
     }
   }
   .navbar-right {
     // margin-top: 10px;
   }
   .navbar-nav > li > a{
     // width: 80px;
     // border-radius: 40px;
     // padding-top: 6px;
     // padding-bottom: 6px;
     // text-align: center;
     // margin-right: 15px;
     color: $nav-color-white;
     // border: 1px solid rgb(221, 221, 221);
     transition: 0.15s linear;
   }
   .navbar-nav > li > a:hover,
   .navbar-nav > li > a:focus {
     color: $nav-color-white;
     background-color: none;
     border-color: $nav-a-hover;
   }
   .navbar-nav > .active > a,
   .navbar-nav > .active > a:hover,
   .navbar-nav > .active > a:focus {
     color: $nav-a-hover;
     background-color: $nav-a-hover;
   }
   .navbar-nav > .open > a,
   .navbar-nav > .open > a:focus,
   .navbar-nav > .open > a:hover {
       background: none;
       color: #fff;
   }
 }
 @media (min-width: 768px) {
   .navbar {
     border-radius: 0;//圆角为0
   }
 }

 .navbar-brand > img {
   display: inline-block;  //图片和链接文字显示在同一行
   margin-right: 10px; //图片和链接文字拉开一点距离
   width: 32px; //定制图片宽度
   height: 32px; //定制图片高度
 }


// footer
.footer-nav {
  background: #201f21;
  padding: 35px 0 20px 0;
  margin: 0px;
  .columns {
    max-width: 980px;
    margin: 0 auto;
    .column {
      width: 70px;
      line-height: 200%;
      margin: 0 0 10px 25px;
    }
    .colum-right {
      float: right;
      width: 200px;
      li {
        padding: 0;
        display: block;
        white-space: nowrap;
      }
      .icon-gamepad {
        display: inline-block;
        height: 50px;
        font-size: 0;
        margin-right: 50px;
      }
      h3 {
        color: #fff;
        opacity: .5;
        margin-top: 0;
        font-size: 24px;
      }
      h4 {
        .fa {
          font-size: 18px;
          margin-right: 10px;
        }
      }
      .a-icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 1px #92a0a9 solid;
        border-radius: 40px;
        text-align: center;
        font-size: 14px;
        box-sizing: border-box;
        padding-top: 0;
        margin-right: 10px;
        cursor: pointer;
        vertical-align: middle;
        margin-top: 10px;
        .fa {
          display: block;
          margin-top: 6px;
          color: #92a0a9;
        }
      }
      .a-weixin {
        position: relative;
        display: inline-block;
      }
    }
    li {
      h2 {
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 22px;
        opacity: .5;
      }
      a {
        color: #fff;
        opacity: .5;
        white-space: nowrap;
        line-height: 36px;
      }
    }
  }
}

.footer {
  background: #1a191a;
  padding: 16px 10px 6px;
  text-align: center;
  font-size: 18px;
  color: #666;
  span {
    display: inline-block;
    margin-right: 10px;
    height: 24px;
    line-height: 23px;
  }
}
