



<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <p>
        <span class="logo-text">Copyright ©2017 job-listing</span>
      <br><span class="icp-center">Design by 张伟</span>
    	</p>
    </div>
  </div>
</div>
