<section class="footer-nav">
  <div class="columns">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-lg-3">
            <ul class="column">
              <li><h2>产&nbsp;品</h2></li>
              <li><a href="javascript:;">更新日志</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3 col-lg-3">
            <ul class="column">
              <li><h2>公&nbsp;司</h2></li>
              <li><a href="javascript:;">媒体报道</a></li>
              <li><a href="javascript:;">关于我们</a></li>
              <li><a href="javascript:;">团队介绍</a></li>
              <li><a href="javascript:;">加入我们</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3 col-lg-3">
            <ul class="column">
              <li><h2>更&nbsp;多</h2></li>
              <li><a href="javascript:;">联系我们</a></li>
              <li><a href="javascript:;">隐私申明</a></li>
              <li><a href="javascript:;">服务条款</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <ul class="column column-right">
          <li></li>
          <li>
            <h4><a href="javascript:;" target="_blank"><i class="fa fa-phone-square"></i>客服咨询</a></h4>
            <h3>331874675</h3>
          </li>
          <li>
            <a class="a-icon a-weixin">
              <i class="fa fa-weixin"></i>
              <span class="pop-winxin"></span>
            </a>
            <a class="a-icon" href="#" target="_blank">
              <i class="fa fa-weibo"></i>
            </a>
            <a class="a-icon" href="#">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="a-icon" href="#" target="_blank">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



<footer class="footer">
  <div class="container-fluid">
    <p>
      <span class="logo-text">Copyright ©2017 job-listing</span>
    <br><span class="icp-center">Design by 张伟</span>
  	</p>
  </div>
</footer>
