



<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="footerlianjie">
        <span>关于我们</span><span>|</span>
        <span>帮助中心</span><span>|</span>
        <span>开放平台</span><span>|</span>
        <span>诚聘英才</span><span>|</span>
        <span>联系我们</span><span>|</span>
        <span>网站合作</span><span>|</span>
        <span>友情链接</span><span>|</span><br/>
      </div>
      <p>
        <span class="logo-text">Copyright ©2017 新时代招聘网</span><span class="icp-center">Design by 张伟</span>
      <br><span class="icp-center">logdown地址：<a href="http://zhangwei-blog.logdown.com/">http://zhangwei-blog.logdown.com/</a></span>
    	</p>
    </div>
  </div>
</div>
